/* stylelint-disable docusaurus/copyright-header */

/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0 4rem 0;
  background: url('/img/hero_back_light.svg') right 60px/115% auto no-repeat;
}

.bkg {
  width: auto;
  height: 400px;
  background: url('/img/hero_pglet_light.svg') center left/100% 400px no-repeat;
}

html[data-theme='dark'] .heroBanner {
  background-image: url('/img/hero_back_dark.svg');
}

html[data-theme='dark'] .bkg {
  background-image: url('/img/hero_pglet_dark.svg');
}

.right {
  padding: 3rem 5rem 0 0;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: left;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  height: 200px;
  width: 200px;
}

.indexCtasGetStartedButton {
  background-color: #bf5efe;
  display: inline-block;
  line-height: 1.2em;
  text-decoration: none !important;
  text-transform: uppercase;
  transition: background 0.6s;
  border-radius: 8px;
  border-width: 2px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 12px 26px;  
}

.indexCtasGetStartedButton:hover {
  color: #fff;
  background-color: #ffa0ad;
}