/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #7109de; /*7e0cf5*/
  --ifm-color-primary-dark: #7109de;
  --ifm-color-primary-darker: #6b09d2;
  --ifm-color-primary-darkest: #400082;
  --ifm-color-primary-light: #8b25f6;
  --ifm-color-primary-lighter: #9231f7;
  --ifm-color-primary-lightest: #a556f8;

  --ifm-color-secondary: #f8dc88;
  --ifm-color-secondary-dark: #f09dd4;
  --ifm-color-secondary-darker: #ed89cc;
  --ifm-color-secondary-darkest: #e550b3;
  --ifm-color-secondary-light: #fce9f6;
  --ifm-color-secondary-lighter: #fffdfe;
  --ifm-color-secondary-lightest: #ffffff;

  --ifm-code-font-size: 95%;
}

.navbar__logo {
  width: 42px;
  height: 35px;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.hero h1 {
  color: var(--ifm-color-secondary);
}

.hero--primary {
  --ifm-hero-background-color: var(--ifm-color-primary);
  --ifm-hero-text-color: var(--ifm-font-color-base-inverse);
}

.hero__subtitle {
  color: var(--ifm-font-color-base-inverse);
}

.footer {
  background: var(--ifm-color-primary-darkest);
}

.footer a:hover {
  color: var(--ifm-color-secondary-lightest);
}

/* Dark theme */
html[data-theme='dark']:root {
  --ifm-color-primary: #9a62d6;
}

html[data-theme='dark'] .hero--primary {
  --ifm-hero-background-color: var( --ifm-color-primary-dark);
}

html[data-theme='dark'] .hero__subtitle {
  color: var(--ifm-font-color-base);
}